extends layout
block content

  p atividade do jojo 

  h1 Bem-vindo à biblioteca da hend

  blockquote  "Algum dia você terá idade suficiente para começar a ler contos de fadas novamente" - C.S. Lewis

  p Essa biblioteca tem os seguintes conteúdos:

  ul
    li #[strong Livros:] !{book_count}
    li #[strong Cópias:] !{book_instance_count}
    li #[strong Cópias avaliadas:] !{book_instance_available_count}
    li #[strong Autores:] !{author_count}
    li #[strong Gêneros:] !{genre_count}
